.text-input {

    &-container {
        position: relative;
        margin-bottom: 20px;
    }

    &-icon {
        position: absolute;
        width: 82px;
        height: 100%;
        @include flex-center;
    }
}

.form-control {
    width: 100%;
    box-sizing: border-box;
    padding: 25px 82px;
    border: 1px solid #BDBDBD;
    border-radius: 10px;    
    font-size: 21px;
    color: #333333;
    outline: none;
}

.form-control::placeholder {
    color: #BDBDBD;
}

.btn {
	display: inline-block;
    width: 236px;
    box-sizing: border-box;
    padding: 13px;
    border-radius: 10px;
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    margin-right: 15px;
    outline: none;
    cursor: pointer;
	text-decoration: none;

    &-dark {
        color: #ffffff;
        background-color: $primary-color;
        border: 1px solid $primary-color;
    }

    &-light {
        color: #4E535B;
        border: 1px solid #1B3E85;
    }
	
	&-add-task {
		position: relative;
		padding: 13px 25px;
		font-size: 24px;
		text-align: left;
		margin: 0;
		
		&::before, &::after {
			content: '';
			display: inline-block;
			position: absolute;
			right: 25px;
			top: 24px;
			width: 18px;
			height: 2px;
			background-color: #fff;
			border-radius: 2px;
		}
		
		&::after {
			transform: rotate(90deg);
		}
	}
	
	&-task-card {
		padding: 13px 40px;
	}
}

