.logo {
    display: flex;
    text-decoration: none;

    &--dark {
        color: $primary-color;
    }

    &--light {
        color: #ffffff;
    }

    &-img {
        background-repeat: no-repeat;
    }

    &-text {
        font-size: 30px;
        font-weight: 500;
        line-height: 1.2;

        &-abbr {
            text-transform: uppercase;
        }
    }
}