.welcome {

    &-title {
        font-weight: bold;
        font-size: 64px;
        color: #333333;
        margin-bottom: 5px;
    }

    &-text {
        font-size: 24px;
        line-height: 36px;
        color: #828282;
        margin-bottom: 50px;
    }
}