.start-content {

    &-row {
        display: flex;
    }

    &-welcome-img-b {
        flex: 0 1 1012px;
        background: url("../img/start-page-promo.png") bottom right no-repeat;
    }

    &-welcome-text-b {
        flex: 0 0 568px;
    }
}