.tasks {
	padding-bottom: 85px;
	background-color: #F9FAFC;
	
	&-caption {
		@include flex-space-between;
		padding: 25px 0;
		
		&-title {
			font-size: 36px;
			font-weight: 500;
			color: #333;
		}
		
		&-actions {
			@include flex-end;
		}
	}
	
	&-filter {
		margin-right: 60px;
		
		&-label {
			font-size: 21px;
			color: #333;
			margin-right: 15px;
		}
		
		&-list {
			color: #333;
			border-radius: 10px;
			font-size: 21px;
			padding: 7px 20px;
			outline: none;
			box-shadow: none;
		}
		
		&-item {
			padding: 7px 20px;
		}
	}
	
	&-list {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 20px;
	}
}

.task {
	padding: 20px 40px 35px;
	background-color: #fff;
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	transition: 0.3s;
	
	&-title {
		font-size: 37px;
		font-weight: 500;
		color: #333;
	}
	
	&-start-time {
		color: #BDBDBD;
		margin-bottom: 15px;
	}
	
	&-deadline {
		color: #333;
		margin-bottom: 20px;
		
		&-date {
			color: green;
		}
	}
	
	&-description {
		line-height: 1.2em;
		color: #828282;
		margin-bottom: 17px;
	}
	
	&-icons {
		@include flex-center;
		margin-bottom: 28px;
		
		&-item {
			margin: 0 15px;
		}
	}
	
	&-btn {
		padding: 8px 28px;
		color: #828282;
		font-size: 18px;
		font-weight: 500;
		border: 1px solid #828282;
		border-radius: 8px;
		text-decoration: none;
	}
}

.task-card-section {
		margin-top: 30px;
	}

.task-card-title {
	color: #333;
	font-size: 32px;
	font-weight: 500;
}

.task-card {
	padding: 30px;
	margin-top: 15px;
	background-color: #fff;
	border-radius: 20px;
	border: 1px solid #828282;
	display: flex;
	
	&-right-col {
		width: fit-content;
		padding: 0 115px 0 60px;
	}
	
	&-img {
		width: 364px;
		height: 246px;
		background: center/cover no-repeat;
		border-radius: 10px;
		
		&._1 {
			background-image: url(../img/task-card-img.png);
		}
		
		&._2 {
			border: 1px solid #828282;
			background-image: url(../img/add-photo.png);
		}
	}
	
	&-form {
		margin: 30px 0;
	}
	
	&-form-row {
		@include flex-space-between;
		margin-bottom: 20px;
	}
	
	&-label {
		font-size: 21px;
		color: #828282;
	}
	
	&-input {
		width: 200px;
		padding: 7px 20px;
		font-size: 21px;
		border-radius: 10px;
		border: 1px solid #BDBDBD;
		outline: none;
	}
	
	&-actions {
		@include flex-space-between;
		
		&-item {
			font-size: 18px;
			@include flex-center;
			color: #828282;
			text-decoration: none;
		}
		
		&-icon {
			margin-right: 8px;
		}
	}
	
	&-header {
		font-size: 27px;
		font-weight: 500;
		color: #000;
		margin-bottom: 15px;
	}
	
	&-text {
		font-size: 21px;
		line-height: 1.2em;
		color: #828282;
		margin-bottom: 50px;
	}
	
	&-textarea {
		max-width: 680px;
		width: 100%;
		height: 205px;
		padding: 20px;
		font-size: 21px;
		margin: 15px 0 30px;
		border: 1px solid #828282;
		border-radius: 20px;
		outline: none;
	}
}












