<main class="start-content">
    <div class="container">
        <div class="start-content-row">
            <div class="start-content-welcome-img-b"></div>
            <div class="start-content-welcome-text-b">
                @@include(('../components/welcome-text.html', {
                    title: "Welcome back!",
                    text: "To keep connected with us please login with personal information by email address and password"
                }))
            </div>
        </div>
    </div>
</main>