@@include(('../templates/components/page-head.html', {
    title: "Add new Task"
}))
<body>
    @@include(('../templates/sections/navbar-dark.html'))
    
    <section class="add-task">
    	<div class="container">
    		<div class="tasks-caption">
				<h2 class="tasks-caption-title">Add new Task</h2>
				<div class="tasks-caption-actions">
					<a href="add-task.html" class="btn btn-dark btn-add-task">Add task</a>
				</div>
        	</div>
        	
        	<div class="task-card">
   				<div class="task-card-left-col">
   					<div class="task-card-img _2"></div>
   					<div class="task-card-form">
						<div class="task-card-form-row">
							<label for="task-card-date" class="task-card-label">Deadline to:</label>
							<input name="task-card-date" type="date" value="2020-06-30" class="task-card-input">
						</div>
						<div class="task-card-form-row">
							<label for="name-task" class="task-card-label">Name Task</label>
							<input name="name-task" type="text" placeholder="Task 002" class="task-card-input">
						</div>
   					</div>
   				</div>
   				<form class="task-card-right-col">
   					<label class="task-card-header">Task Description</label>
   					<textarea class="task-card-textarea" name="new-task-text" id="" placeholder="What do you want to get done"></textarea>
  					<button class="btn btn-dark btn-task-card">Create task</button>
   				</form>
   			</div>
    	</div>
    </section>
</body>
</html>