@mixin flex-space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}